

.HomePage.openerSection{
    display:block;
    width:800px;
    display:flex;
}
.HomePage .halloween{
    height:222px;
}
.HomePage .LivingRoomHoodie{
    padding:80px 60px 80px 0;
    width:800px;
}
.HomePage .LivingRoomGhost{
    padding:0 0 333px 40px;
    width:600px;
}
.HomePage .livingroomSection span{
    column-gap: 100px;

}
.HomePage .totesSection{
    margin:80px 0;
}
.HomePage .toteFront, .HomePage .toteBack{
    height:600px;
    border-radius:33px;
}
.HomePage .toteFront{
    margin-right:333px;
    margin-bottom:-80px;
    border:10px double pink;
}
.HomePage .toteBack{
    margin-left:333px;
}
.HomePage .zodiacSection img{
    height:600px;
}
.HomePage .batSection{
    padding:80px 0;
}
.HomePage .batSection button{
    font-size:20px;
    padding:20px 40px;
    border-radius:30px;
}
.HomePage .batSection a{
    position: relative;
    bottom:144px;
    left:130px;
}
.HomePage .batSection .batHoodieBack, .HomePage .batSection .batHoodieFront{
   width:600px;    
   padding:0;
}
.HomePage .batSection .batHoodieBack{
    margin-left:180px;
}
.HomePage .batSection .batImg{
position:absolute;
left:-20px;
width:550px;
}

