

.HomePage.openerSection{
    display:block;
    width:800px;
    display:flex;
}
.HomePage .halloween{
    height:222px;
}
.HomePage .LivingRoomHoodie{
    padding:80px 60px 80px 0;
    width:800px;
}
.HomePage .LivingRoomGhost{
    padding:0 0 333px 40px;
    width:600px;
}
.HomePage .livingroomSection span{
    column-gap: 100px;

}
.HomePage .totesSection{
    margin:80px 0;
}
.HomePage .toteFront, .HomePage .toteBack{
    height:600px;
    border-radius:33px;
}
.HomePage .toteFront{
    margin-right:333px;
    margin-bottom:-80px;
    border:10px double pink;
}
.HomePage .toteBack{
    margin-left:333px;
}
.HomePage .zodiacSection img{
    height:600px;
}
.HomePage .latestDropSection{
    margin: 80px 0;
}
.HomePage .latestDropSection .bat img{
    height:500px;
    padding:0;
    margin:0;

}
.HomePage .latestDropSection button{
    background-color:pink;
    border:4px solid red;
    padding:20px 60px;
    border-radius: 33px;
    font-size:22px;
}
.HomePage .latestDrop em{
   font-size:50px;
   color:white;
}
.HomePage .batHoodie img{
    height:600px;
}
